@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
	--foreground-rgb: 0, 0, 0;
	--background-start-rgb: 214, 219, 220;
	--background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
	:root {
		--foreground-rgb: 255, 255, 255;
		--background-start-rgb: 0, 0, 0;
		--background-end-rgb: 0, 0, 0;
	}
}
/* Media Query for 320px screens (small devices) */
@media (max-width: 320px) {
	html {
		font-size: 13px;
	}
}
@media (min-width: 321px) and (max-width: 768px) {
	html {
		font-size: 14px;
	}
}
@media (min-width: 769px) and (max-width: 1024px) {
	html {
		font-size: 15px;
	}
}
@media (min-width: 1025px) {
	html {
		font-size: 16px;
	}
}

body {
	color: rgb(var(--foreground-rgb));
	background: linear-gradient(to bottom, transparent, rgb(var(--background-end-rgb))) rgb(var(--background-start-rgb));
}

.text-primary {
	-webkit-text-fill-color: #f8408c !important;
	color: #f8408c !important;
}
.bg-primary {
	background-color: #f8408c !important;
}

@layer utilities {
	.text-balance {
		text-wrap: balance;
	}
}
